<h1>Login(Echo)</h1>
<form action="/api/echo" method="post">
    Username 
    <br><input name="username" type="text"><br><br>
    Password
    <br><input type="password" name="password"><br><br>
    <input type="submit">
</form>