<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/lib/semantic/dist/semantic.min.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/semantic/dist/semantic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
    <script src="/lib/react-semantify/dst/react-semantify.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>